{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <form class="form" action="juggling-trick" method="post">

        <div class="form-group">
          <div class="form-group">
          <fieldset>

            <legend>
              <h3 class="heading-medium">Which items can you juggle with?</h3>
              <span class="body-text">Select all that apply</span>
            </legend>

            <div class="multiple-choice">
              <input id="Balls" name="juggling-items" type="checkbox" value="Balls">
              <label for="Balls">Balls</label>
            </div>
            <div class="multiple-choice">
              <input id="Skittles" name="juggling-items" type="checkbox" value="Skittles">
              <label for="Skittles">Skittles</label>
            </div>
            <div class="multiple-choice">
              <input id="Other" name="juggling-items" type="checkbox" value="Other">
              <label for="Other">Other</label>
            </div>

          </fieldset>
        </div>
</div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
